.container-fluid {
  padding-left: 55px;
  padding-right: 55px;
}

.nav {
  padding-top: 20px;
  margin-bottom: 50px;
}
.logo {
  padding-top: 30px;
}


.navbar {
  background-color: white;
  border: none;
}

.nav a {
  color: #585858;
  font-size: 11px;
  /*font-weight: bold;*/
  padding: 14px 10px;
  text-transform: lowercase;
  font-family: 'Open Sans', sans-serif;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f2823d;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

.nav a:hover{
	font-weight:bold;
	text-decoration:none;
	color: #f2823d!important;
}

.nav li {
  display: inline;
}

a.logo {
  font-size: 23px;
  text-transform: lowercase;
}

p a, li a {
  color: #585858;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

p a:hover, li a:hover {
  font-weight:bold;
	text-decoration:none;
	color: #f2823d;
}

p, li {
  font-size: 16px;
  color: #585858;
  font-family: raleway, sans-serif;
}

.welcome {
  font-size: 45px;
  color: #585858;
  font-family: open-sans, sans-serif;
  font-weight:300;
  margin-top: 50px;
  margin-left: -15px;
  text-transform: lowercase;
}

.intro {
  font-size: 16px;
  color: #585858;
  font-family: raleway, sans-serif;
  padding-bottom: 15px;
  margin-bottom: 80px;
}

.thumbnail {
  height: 175px;
}

.listing-title {
  color: #585858;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 10px;
}

a:hover .listing-title {
	font-weight:400;
	text-decoration:none;
	color: #f2823d;
}

.listing-date {
  color: #585858;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-style:200;
  padding-top: 4px;
}

p.teaser {
  color: #585858;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

h3, h4{
  color: #f2823d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.post-title {
  color: #f2823d;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.post-date {
  color: #585858;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-style:200;
  margin-bottom: 40px;
}

p.post-content {
  color: #585858;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-style:100;
  line-height: 1.5;
  margin-bottom: 20px;
}

.full-width-header-bar {
  width: 100%;
  height: 12px;
  background-color: #f2823d;
  top: 0;
  /*position: fixed;*/
}

.full-width-footer-bar {
  width: 100%;
  height: 12px;
  /*background-color: #f2823d;*/
  background-color: #ffffff;
  margin-bottom: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

a {
  text-decoration: none!important;
}

.blog-image {
  width: 100%;
}

.project-block {
  padding-bottom: 100px;
}

.social-icon {
  /*width: 44px;*/
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
}
.email {
  width: 50px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.social-icon-list {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 35px;
}

.content {
  padding-top: 15%;
}
