---
layout: default
---
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h2 class="welcome">
          Erin Pintozzi
        </h2>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <p class="intro">
        After four years managing projects, I decided to stop scheduling standups and start writing the code behind them. I
        joined a legaltech startup as a software developer (which was later acquired by Clio), spending the next four years
        building backend systems in Ruby on Rails with the occasional flirtation with React. Most recently, I taught backend
        development at Turing School, where I also supported students with job coaching and interview prep—until the school
        closed in June 2025. I thrive in roles that blend technical understanding with people-focused work—think coaching,
        mentoring, teaching, or managing. I’m especially energized by helping others grow and succeed, whether that’s through
        writing clean code or just asking the right questions at the right time.
      </p>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <div class="social-icon-list">
    <a target="_blank" href="/assets/documents/ep_resume_2025.pdf">
      <img class="social-icon" src="assets/icons/resume.png" alt="">
    </a>
    <a target="_blank" href="https://www.github.com/epintozzi">
      <img class="social-icon" src="assets/icons/github.png" alt="">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/erin-pintozzi">
      <img class="social-icon" src="assets/icons/linkedin-logo.png" alt="">
    </a>
    <a target="_blank" href="mailto:erin.pintozzi@gmail.com">
      <img class="social-icon email" src="assets/icons/email.png" alt="">
    </a>
  </div>
</div>


<!-- <div class="row">
  {% for post in site.posts %}
  {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

  {% if modulo == '0' %}
  {% unless forloop.first %}
</div>
<div class="row">
  {% endunless %}
  {% endif %}
  <div class="col-md-4">
    <a href="{{ post.url }}">
    <div class="thumbnail">
      <div class="overlay">
      <h2 class="listing-title"> -->
        <!-- <a href="{{ post.url }}"> -->
          <!-- {{ post.title }} -->
        <!-- </a> -->
      <!-- </h2>
      <h4 class="listing-date">{{ post.date | date: "%m-%d-%Y" }}</h4>
      <p class="teaser">{{ post.content | strip_html | truncatewords:10}}</p>
    </div>
    </div>
  </a>
  </div>
  {% endfor %}
</div> -->
