---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h2 class="welcome">
        Hello
      </h2>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p class="intro">
      I'm an Interactive Project Manager turned developer. A Chicago native, I've lived in Milwaukee, Minneapolis, and have recently found myself in Los Angeles following a 9 month stint in Denver to complete Turing School of Software and Design's backend development program. When I'm not questioning why I've decided to go rogue and learn programming, you'll probably find me hanging out with my husband, Joe, and our dogs, Bruce and Tucker, or whipping up a new recipe in the kitchen (I've seen every episode of Chopped, so obviously I'm a pretty great chef myself now).
    <br/><br/>
      So what’s next? With over five years of Project Management experience, and some new technical chops to back me up, I'm ready to find a great team where I can combine my technical and project management skills to deliver strong projects that exceed stakeholder expectations.
    </p>
  </div>
  <div class="col-md-1">
  </div>
</div>

<div class="row">
  {% for post in site.posts %}
  {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

  {% if modulo == '0' %}
  {% unless forloop.first %}
</div>
<div class="row">
  {% endunless %}
  {% endif %}
  <div class="col-md-4">
    <a href="{{ post.url }}">
    <div class="thumbnail">
      <div class="overlay">
      <h2 class="listing-title">
        <!-- <a href="{{ post.url }}"> -->
          {{ post.title }}
        <!-- </a> -->
      </h2>
      <h4 class="listing-date">{{ post.date | date: "%m-%d-%Y" }}</h4>
      <p class="teaser">{{ post.content | strip_html | truncatewords:10}}</p>
    </div>
    </div>
  </a>
  </div>
  {% endfor %}
</div>
