---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h2 class="welcome">
        Projects
      </h2>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<!-- Intro -->
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <p class="intro">
        As I work my way through Turing, I'll starting listing my favorite projects here. For all projects (good and bad!) head over to <a target="_blank" href="https://www.github.com/epintozzi">github</a>.
      </p>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <!-- Tuesdates -->
  <div class="project-block">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <a href="http://tuesdates.herokuapp.com" target="blank"><img class="blog-image" src="/assets/images/tuesdates_search_small.png" alt="tuesdates"></a>
      </div>
      <div class="col-md-5">
        <h4 class="center">Tuesdates</h4>
        <p>Tuesdates uses the Yelp API to make restaurant recommendations based on a user search and send email alerts via SendGrid. This was a solo project that I managed from the wireframe/mockup phase through deployment.</p>
        <p>
          <ul>
            <li>Ruby/Rail</li>
            <li>Yelp API</li>
            <li>Google OAuth</li>
            <li>HTML/CSS/Bootstrap 3</li>
            <li>TDD</li>
            <li>Design/UX</li>
            <li>Project Management with <a href="https://waffle.io/">waffle.io</a> </li>
          </ul>
        </p>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>


  <!-- API Curious -->
  <div class="project-block">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <a href="https://github.com/epintozzi/api_curious" target="blank"><img class="blog-image" src="/assets/images/api_curious.png" alt="github-clone"></a>
      </div>
      <div class="col-md-5">
        <h4 class="center">Github Clone</h4>
        <p>This project focuses on consuming and working with data from public APIs. I have recreated a version of the Github user profile page where users can see their recent activity, repositories, starred repositories, followers, and those they follow.</p>
        <p>
          <ul>
            <li>Ruby/Rail</li>
            <li>OAuth Login</li>
            <li>Github API</li>
            <li>HTML/CSS/Bootstrap 3</li>
            <li>TDD with Rspec, Capybara, and Factorygirl</li>
          </ul>
        </p>
      </div>

      <div class="col-md-1">
      </div>
    </div>
  </div>

</div>


<!-- <div class="row">
  {% for project in site.projects %}
  {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

  {% if modulo == '0' %}
  {% unless forloop.first %}
</div>
<div class="row">
  {% endunless %}
  {% endif %}
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="overlay">
      <h2 class="listing-title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <h4 class="listing-date">{{ project.date | date: "%m-%d-%Y" }}</h4>
      <p class="teaser">{{ project.content | strip_html | truncatewords:10}}</p>
    </div>
    </div>
  </div>
  {% endfor %}
</div> -->
