---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h2 class="welcome">
        Projects
      </h2>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p class="intro">
      As I work my way through Turing, I'll starting listing my favorite projects here. For all projects (good and bad!) head over to <a target="_blank" href="https://www.github.com/epintozzi">github</a>.
    </p>
  </div>
  <div class="col-md-1">
  </div>
</div>

<!-- <div class="row">
  {% for post in site.posts %}
  {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

  {% if modulo == '0' %}
  {% unless forloop.first %}
</div>
<div class="row">
  {% endunless %}
  {% endif %}
  <div class="col-md-4">
    <div class="thumbnail">
      <div class="overlay">
      <h2 class="listing-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <h4 class="listing-date">{{ post.date | date: "%m-%d-%Y" }}</h4>
      <p class="teaser">{{ post.content | strip_html | truncatewords:10}}</p>
    </div>
    </div>
  </div>
  {% endfor %}
</div> -->
